
.ads-ad {
    background-color: #F2F9FE !important;
    padding: 4pt !important;
    border: 1pt solid #A9CFEC !important;
}

div.ads-visurl {
    background-color: transparent !important;
}

span.VqFMTc {
    background-color: transparent !important;
}